table{
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}


th{
    color: white;
    background-color: #0d5188;
    font-weight: bold;
    
}

.nomecidade{
    color: #0d5188;
    background-color: #c7e7f3;
    font-weight: bold;
}

.posicao{
    background-color: silver;
    width: 60px;
    text-align: center;
}

.primeiralinha{
    font-weight: bold;
    background-color: #66c5e3;
}

.pop{
    width: 90px ;
    text-align: center;
    
    
}

.numpop{
    background-color: #c7e7f3;
    text-align: center;
}